// MIXIN FUNCTION ->>
@mixin Flex($parameter) {
  display: flex;
  justify-content: $parameter;
  align-items: center;
}

// HERO SECTION ->>
.hero-section {
  width: 100%;
  @include Flex(center);
}

.background-design-container {
  @include Flex(flex-start);
  position: absolute;
  right: 0;
  z-index: 7;
}

// BACKGROUND DESIGN ->>
.background-design-container img {
  max-width: 550px;
  width: 100%;
}

.hero-section-box {
  @include Flex(space-between);
  width: 1200px;
  flex-wrap: wrap;
  margin-top: 130px;
}

.hero-section-side-1 {
  margin: 10px;
  z-index: 8;
}

// HERO SECTION SIDE 1 TITLE ->>
.hero-section-box h1 {
  width: 500px;
  font-size: 65px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
}

// HERO SECTION SIDE 1 TEXTS ->>
.hero-section-box p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-top: 10px;
}

.colorfull-buttons-container {
  @include Flex(none);
  margin-top: 5px;
}

.colorfull-buttons {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.3s;
}

// HERO SECTION SIDE 1 HEAD PHONE COLOR SELECT BUTTONS COLORS ->>
.colorfull-buttons:nth-child(1) {
  background-color: silver;
}

.colorfull-buttons:nth-child(2) {
  background-color: black;
}

.colorfull-buttons:nth-child(3) {
  background-color: goldenrod;
}

.colorfull-buttons:nth-child(4) {
  background-color: cadetblue;
}

.colorfull-buttons:nth-child(5) {
  background-color: lightcoral;
}

// HERO SECTION SIDE 1 HEAD PHONE PRICE CONTAINER ->>
.price-items-container {
  @include Flex(none);
  margin-top: 30px;
}

// PRICE TEXT ->>
.price-items-container h3 {
  font-family: "Fira Sans", sans-serif;
  font-size: 35px;
  font-weight: bold;
}

// BUY NOW BUTTON ->>
.buy-now-btn {
  background-color: black;
  font-family: "Fira Sans", sans-serif;
  color: white;
  font-size: 20px;
  margin-left: 30px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 40px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 30px;
  transition: 0.3s;
}

.buy-now-btn:hover {
  background-color: white;
  color: black;
}

.hero-section-side-2 {
  z-index: 8;
}

// HEAD PHONE IMAGES ->>
.bose-head-phone-image {
  width: 400px;
  margin: 10px;
}

// RESPONSIVE FOR PHONES ->>
@media only screen and (max-width: 1010px) {
  .hero-section-box {
    flex-direction: column-reverse;
  }

  .hero-section-side-1 {
    margin: 50px 5px 0px 5px;
  }

  .bose-head-phone-image {
    width: 350px;
    margin: 0px;
  }

  .background-design-container img {
    width: 450px;
  }

  .hero-section-box h1 {
    font-size: 45px;
  }

  .hero-section-box p {
    font-size: 15px;
  }

  .price-items-container h3 {
    font-size: 30px;
  }

  .buy-now-btn {
    font-size: 20px;
    padding: 5px 25px;
  }
}

@media only screen and (max-width: 530px) {
  .hero-section-box h1 {
    width: 100%;
  }

  .hero-section-side-1 {
    margin-top: 70px;
  }

  .background-design-container img {
    width: 400px;
  }

  .bose-head-phone-image {
    width: 270px;
    margin: 0px;
  }

  .buy-now-btn {
    font-size: 15px;
  }
}
